@import "../../shared/utils/variables.css";

.visor {
	height: 60px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 4rem;
	text-align: center;
	letter-spacing: 1rem;
}

.message {
	font-size: 3rem;
	letter-spacing: 0.2rem;

	&__error {
		color: var(--red-light);
	}

	&__lockDown {
		font-size: 2rem;
	}

	&__success {
		color: var(--green);
	}
}
