.keypad {
	display: flex;
	max-width: 260px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
	width: 50px;
	height: 50px;
	margin: 10px;
	background-color: color-mod(#fff alpha(20%));
	border: 1px solid color-mod(#fff alpha(40%)));
	border-radius: 50%;
	appearance: none;
	color: #fff;
	font-size: 2rem;
	transition: background-color 0.4s;
	cursor: pointer;

	&:hover {
		background-color: color-mod(#fff alpha(30%));
	}

	&:focus {
		outline: none;
  		box-shadow: 0px 0px 0px 2px skyblue;
	}

	&:disabled {
		border: none;
		background-color: color-mod(#fff alpha(10%));
		color: color-mod(#fff alpha(30%));
		cursor: initial;
	}

	&__lineBreak {
		order: 1;
	}
}
