@import "shared/utils/variables.css";
@import "shared/utils/animations.css";

:root {
	font-size: 62.5%;
}

.app {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("./shared/images/background.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	font-family: sans-serif;

	@media (min-width: 1420px) {
		background-size: 100% auto;
	}
}

.wrapper {
	position: relative;
	top: 50%;
	width: 235px;
	height: 360px;
	margin: auto;
	padding: 20px;
	background-color: color-mod(#fff alpha(20%));
	border: 2px solid color-mod(#fff alpha(40%));
	border-radius: 10px;
	transform: translateY(-50%);

	&__error {
		border-color: var(--red);
		animation: shakeEffect 0.15s linear infinite;
	}

	&__success {
		border-color: var(--green);
	}
}
